@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@1,600&display=swap');
.App{
    min-height: 100vh;
    display: flex;
    background-image: url('bg.jpg');
    background-position: center;
    background-size: contain;
    /* background-repeat: no-repeat; */
    /* z-index: -1; */
}
::-webkit-scrollbar{
    width: 0px;
}
::-webkit-scrollbar-thumb{
    background: rgba(136, 136, 136, 0.281);
}
::-webkit-scrollbar-thumb:hover{
    background: #555;
}